<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        h1 {
            margin-bottom: 20px;
        }

        #data {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        button {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <h1>Home</h1>

    <div id="data"></div>

    <button id="logoutBtn">Logout</button>

    <script>

        async function welcomeMessage(){
            let res = await getData("currentUser");

            if(res.name){
                let messageElement = document.getElementById('data');
                messageElement.innerHTML = `<p>
                    Hello, ${res.name}. You are logged in.
                </p>`;
            }else{
                window.location.href = "/login";
            }
        }
        welcomeMessage();

        async function getData(url, options){
            try {
                const response = await fetch("http://localhost:5000/" + url, options);
                const responseData = await response.json();
                return responseData;
            } catch(error) {
                alert(error.msg);
            }
        }

        async function logout(){
            await getData("logout");
            window.location.href = "/login";
        }

        document.getElementById("logoutBtn").addEventListener("click", logout);
    </script>
</body>
</html>
